<ion-header>
  <ion-toolbar>
    <ion-title>User Filter Matcher
    	<ion-button float-right shape="round" size="small" (click)="filterUsers($event)">Filter</ion-button>
    </ion-title>   
  </ion-toolbar>
</ion-header>


<ion-content>

	<ion-list>
  		<ion-item>
    		<ion-label>Has Photo</ion-label>
		    	<ion-select [(ngModel)]="hasPhoto">
			      <ion-select-option value="yes">Yes</ion-select-option>
			      <ion-select-option value="no">No</ion-select-option>
		    	</ion-select>
  		</ion-item>
	
  		<ion-item>
    		<ion-label>In contact</ion-label>
		    	<ion-select [(ngModel)]="inContact">
			      <ion-select-option value="yes">Yes</ion-select-option>
			      <ion-select-option value="no">No</ion-select-option>
		    	</ion-select>
  		</ion-item>
	
  		<ion-item>
    		<ion-label>Is Favorite</ion-label>
		    	<ion-select [(ngModel)]="isFavorite">
			      <ion-select-option value="yes">Yes</ion-select-option>
			      <ion-select-option value="no">No</ion-select-option>
		    	</ion-select>
  		</ion-item>
  		
  		 <ion-item>
  		 	<ion-label>Compatibility Score (%) : {{compatibilityScore.lower}} to {{compatibilityScore.upper}}</ion-label>
   			<ion-range min=1 max=99 step="2" [(ngModel)]="compatibilityScore" color="secondary" pin="true" dualKnobs="true" snaps="true">
     			<ion-icon size="small" slot="start" name="sunny"></ion-icon>
     			<ion-icon slot="end" name="sunny"></ion-icon>
   			</ion-range>		
 		</ion-item>
 		
 		<ion-item>
  		 	<ion-label>Age (yrs) : {{age.lower}} to {{age.upper}}</ion-label>
   			<ion-range min=18 max=95 step="2" [(ngModel)]="age" color="secondary" pin="true" dualKnobs="true" snaps="true">
     			<ion-icon size="small" slot="start" name="sunny"></ion-icon>
     			<ion-icon slot="end" name="sunny"></ion-icon>
   			</ion-range>
 		</ion-item>
 		
 		<ion-item>
  		 	<ion-label>Height (cm) : {{height.lower}} to {{height.upper}}</ion-label>
   			<ion-range min=135 max=210 step="2" [(ngModel)]="height" color="secondary" pin="true" dualKnobs="true" snaps="true">
     			<ion-icon size="small" slot="start" name="sunny"></ion-icon>
     			<ion-icon slot="end" name="sunny"></ion-icon>
   			</ion-range>
 		</ion-item>

	</ion-list>
	
	<ion-grid style="border: think solid black;">
	  <ion-row style="background:#D3D3D3; font-size: 14px !important; font-weight: bold">
	    <ion-col>
	      <div><p>Name</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Age (yrs)</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Height (cm)</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Job Title</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Photo</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Compatibility Score (%)</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Contacts</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Favourite</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>Religion</p></div>
	    </ion-col>
	  </ion-row>
	  <div *ngIf="users">
	    <ion-row align-items-center *ngFor="let user of users" style="font-size: 12px !important">
	  	 <ion-col>
	      <div><p>{{user["display_name"]}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user.age}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user["height_in_cm"]}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user["job_title"]}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div class="text-center col-xs-3">
	          <img [src]="user['main_photo']" class="rounded" style="max-height: 50px; max-width: 50px;" alt="-">
	      </div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user["compatibility_score"]}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user["contacts_exchanged"]}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user["favourite"]}}</p></div>
	    </ion-col>
	    <ion-col>
	      <div><p>{{user.religion}}</p></div>
	    </ion-col>
	  </ion-row>
	  </div>
	</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>For Spark Networks</ion-title>
  </ion-toolbar>
</ion-footer>